.chat__form {
  display: flex;
  // width: 100%;
  // justify-content: space-between;
}
.chat__texts {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.chat__input-name {
  flex: 1 1 auto;
  min-width: 1px;
}
.chat__input-message {
  flex: 3 1 auto;
  min-width: 1px;
}
.chat__submit {
  flex: 1 0 auto;
  height: 40px;
  width: 100px;
}
