.main__chat {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100%;
  background-color: #b5e48c;
  justify-content: space-between;
  font-size: 24px;
  padding: 10px;
}
.chat__messages {
  overflow-y: scroll;
  height: 100%;
}
.chat__messages-item {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.message__date {
  font-size: 12px;
}
.message__author {
  font-weight: 700;
}
.message__content {

}
