/* -----FONTS--------------------------------------------------------------------- */
// $path: './assets/fonts';


/* -----GENERAL------------------------------------------------------------------- */
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol,
li {
  list-style: none;
}
a {
  color: inherit;
}
a,
a:active,
a:hover {
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}
img {
  vertical-align: top;
}
html,
body {
  height: 100%;
  // overflow-x: hidden;
}
button {
  cursor: pointer;
}
